<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700"
    media="screen" rel="stylesheet" type="text/css" />
    <style>
      /* No content under the fixed bootstrap header. */
      body {
        padding-top: 60px;
      }
    </style>
      {% load static %}
    <link href="{% get_static_prefix %}bootstrap.css" media="screen" rel="stylesheet" type="text/css"
    />
    <link href="{% get_static_prefix %}bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css"
    />
    <link href="{% get_static_prefix %}fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% get_static_prefix %}style.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans
    for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->
    <title>Index</title>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <img class="image  pull-left" src="{% get_static_prefix %}image.png"> <a class="brand" href="#">Kameshwar Poolla</a>
        <ul class="nav pull-right">
          <li><a href="#" class="a-1">Home<br></a>
          </li>
          <li><a href="#" class="a-2">Research<br></a>
          </li>
          <li><a href="#" class="a-2">Work<br></a>
          </li>
          <li><a href="#" class="a-2">Publications<br></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid container-fluid-1">
      <div class="container">
        <div class="row-fluid">
          <span class="span5">
            <img class="image-1" src="{% get_static_prefix %}poolla.jpg" style="height:300px;">
            <img class="image-1" src="{% get_static_prefix %}kameshwar_poolla.jpg" style="height:300px;">
          </span>
          <span class="span7">
            <div class="page-header page-header-1">
                <h1 class="h1-1">Kameshwar Poolla <small class="small-1">Professor</small>
                </h1>
            </div>
            <p class="p-1">5141 Etcheverry Hall, Mailstop 1740<br>
                University of California, Berkeley<br>
                Berkeley, CA 94720-1740<br>
                510-642-1150<br><br><br>
                The easiest way to reach me is by email: poolla@me.berkeley.edu</p>
          </span>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fluid-2">
      <div class="container">
        <div class="row-fluid">
          <span class="span12">
            <div class="page-header page-header-2">
                <h1 class="h1-2">Biography <small class="small-2">Highlighted Work</small>
                </h1>
            </div>
            <p class="p-1">Kameshwar Poolla received his B.Tech. degree from the Indian Institute of Technology, Bombay in 1980; and his Ph.D. from the Center for Mathematical System Theory, University of Florida, Gainesville in 1984, both in Electrical Engineering.
                <br><br>He served on the faculty of the Department of Electrical and Computer Engineering at the University of Illinois, Urbana from 1984 through 1991. Since 1991, he has been at the University of California, Berkeley, where he is now Professor in the Departments of Mechanical Engineering and Electrical Engineering and Computer Sciences. He has also held visiting appointments at Honeywell, McGill University, and MIT and has worked as a Field Engineer with Schlumberger AFR, Paris. He was co-founder of OnWafer Technologies, a start-up that offered yield enhancement and metrology solutions for the semiconductor industry. OnWafer was acquired by KLA-Tencor in 2007.
                <br><br>Dr. Poolla was awarded the 1984 Outstanding Dissertation Award by the University of Florida; the 1988 NSF Presidential Young Investigator Award; the 1993 Hugo Schuck Best Paper Prize; the 1994 Donald P. Eckman Award; a 1997 JSPS Fellowship; the 1997 Distinguished Teaching Award from the University of California, Berkeley; and the 2004 and 2007 IEEE Transactions on Semiconductor Manufacturing Best Paper Prizes. He is the Cadence Design Systems Distinguished Professor of Mechanical Engineering.
                <br><br>Dr. Poolla has been awarded 5 patents.</p>
          </span>
        </div>
      </div>
      </div>
      <div class="container-fluid container-fluid-1">
      <div class="container">
        <div class="row-fluid">
          <span class="span12">
            <div class="page-header page-header-1">
                <h1 class="h1-2">Research Areas
                </h1>
            </div>
          </span>
          <div class="row-fluid">
              <span class="span4">
                <h2 class="heading heading-1">System <br>Identification</h2>
                <p class="p-2">
                    <a href="http://www.eecs.berkeley.edu/Research/Areas/CIR/">Control, Intelligent Systems, and Robotics (CIR)</a></p>
              </span>
              <span class="span4">
                <h2 class="heading heading-1">Design For <br>Manufacturability</h2>
                <p class="p-2">
                    <a href="http://www.eecs.berkeley.edu/Research/Areas/DMA/">Design, Modeling and Analysis (DMA)</a></p>
              </span>
              <span class="span4">
                <h2 class="heading heading-1">Semiconductor <br>Manufacturing</h2>
                <p class="p-2">
                    <a href="http://www.eecs.berkeley.edu/Research/Areas/PHY/">Physical Electronics (PHY)</a></p>
              </span>
              <div class="row-fluid">
              <span class="span12">
                  <h2 style="text-align:center; padding-top:20px;">Research Center</h2>
                  <p class="p-4"><a href="http://impact.berkeley.edu/">Integrated Modeling Process and Computation for Technology (IMPACT)
                  </a></p>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fluid-2">
      <div class="container">
        <div class="row-fluid">
          <span class="span12">
            <div class="page-header page-header-2">
              <h1 class="h1-3">Selected Publications
              </h1>
            </div>
            <p class="p-3">
                <ul><li>B. Sinopoli, L. Schenato, M. Franceschetti, K. Poolla, M. Jordan, and S. S. Sastry, "<a href="http://ieeexplore.ieee.org/iel5/9/29437/01333199.pdf?arnumber=1333199">Kalman filtering with intermittent observations</a>," <em>IEEE Trans. Automatic Control: Special Issue on Sensor Networks</em>, vol. 49, no. 9, pp. 1453-1464, Sep. 2004.</li>
                    <li>M. Freed, M. Kruger, C. J. Spanos, and K. Poolla, "<a href="http://ieeexplore.ieee.org/iel5/66/20338/00939823.pdf?arnumber=939823">Autonomous on-wafer sensors for process modeling, diagnosis, and control</a>," <em>IEEE Trans. Semiconductor Manufacturing</em>, vol. 14, no. 3, pp. 255-264, Aug. 2001.</li>
                    <li>K. Poolla and A. Tikku, "<a href="http://ieeexplore.ieee.org/iel4/9/9201/00412628.pdf?isnumber=9201&amp;prod=JNL&amp;arnumber=412628&amp;arSt=1589&amp;ared=1602&amp;arAuthor=Poola%2C+K.%3B+Tikku%2C+A.">Robust performance against slowly-varying structured perturbations</a>," <em>IEEE Trans. Automatic Control</em>, vol. 40, no. 9, pp. 1589-1602, Sep. 1995.</li>
                    <li>K. Poolla, P. Khargonekar, A. Tikku, J. Krause, and K. Nagpal, "<a href="http://ieeexplore.ieee.org/iel4/9/7049/00284871.pdf?arnumber=284871">A time-domain approach to model validation</a>," <em>IEEE Trans. Automatic Control</em>, vol. 39, no. 5, pp. 951-959, May 1994.</li>
                </ul>
            </p>
          </span>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fluid-1">
        <div class="container">
            <div class="row-fluid">
              <span class="span12">
                <div class="page-header page-header-1">
                    <h1 class="h1-3">Teaching
                    </h1>
                </div>
              </span>
            <div class="row-fluid">
              <span class="span6">
                <h2 class="heading heading-1">Undergraduate Courses</h2>
                  <p class="p-3">
                  <li>A First course in Dynamics</li>
                  <li>Control System Design and Analysis</li>
                  <li>Electronic Techniques for Engineering</li>
                  <li>Introduction to Electrical Engineering</li>
                  <li>Introduction to Mechanical Engineering</li>
                  <li>Optimization Methods</li>
                  <li>Signals and Systems</li></p>
              </span>
              <span class="span6">
                  <h2 class="heading heading-1">Graduate Courses</h2>
                  <p class="p-3">
                  <li>Linear Systems Theory</li>
                  <li>Special Topics in Semiconductor Manufacturing</li>
                  <li>Fourier Transforms and Distributions</li>
                  <li>Optimal Control</li>
                  <li>Advanced Control Systems</li>
                  <li>System Identification</li>
                  <li>Topics in Engineering Mathematics</li>
                  <li>Special Topics in Multivariable Control</li>
                  <li>Optimization by Vector Space Methods</li></p>
              </span>
              </div>
            </div>
        </div>
    </div>
    <div class="container container-1">
      <div class="row-fluid">
        <span class="span12">
          <p class="p-4">Cadence Design Systems Distinguished Professor of Mechanical Engineering</p>
        </span>
      </div>
    </div>
    <div class="container-fluid container-fluid-3">
      <div class="container">
        <div class="row-fluid">
          <span class="span12">
            <div class="pull-left">
              <p>© Kameshwar Poolla</p>
            </div>
            <ul class="nav nav-pills pull-right">
              <li><a href="#" class="a-3">About</a>
              </li>
              <li><a href="#" class="a-3">Privacy</a>
              </li>
              <li><a href="#" class="a-3">Terms Of Service</a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </body>

</html>